.swiper {
	position: relative;
	overflow: hidden;
  display: flex;
}

.swiper:after,
.swiper:before {
	position: absolute;
	z-index: -1;
	top: 0;
	right: 0;
	width: 80px;
	height: 100%;
	content: "";
	opacity: 0;
	background: -webkit-gradient(linear, left top, right top, from(hsla(0, 0%, 100%, 0)), color-stop(80%, #fff));
	background: -webkit-linear-gradient(left, hsla(0, 0%, 100%, 0), #fff 80%);
	background: -o-linear-gradient(left, hsla(0, 0%, 100%, 0) 0, #fff 80%);
	background: linear-gradient(90deg, hsla(0, 0%, 100%, 0) 0, #fff 80%)
}

@media (max-width:599px) {
	.swiper:after,
	.swiper:before {
		display: none
	}
}

.swiper:after {
	right: auto;
	left: 0;
	background: -webkit-gradient(linear, right top, left top, from(hsla(0, 0%, 100%, 0)), color-stop(80%, #fff));
	background: -webkit-linear-gradient(right, hsla(0, 0%, 100%, 0), #fff 80%);
	background: -o-linear-gradient(right, hsla(0, 0%, 100%, 0), #fff 80%);
	background: linear-gradient(270deg, hsla(0, 0%, 100%, 0), #fff 80%)
}

.swiper.is-left-hidden:after,
.swiper.is-right-hidden:before {
	z-index: 5;
	opacity: 1;
}

.swiper__right{
  justify-content: center;
  right: 0;
  background: linear-gradient(to right, rgba(255,255,255,0) 0%, var(--white) 30%);
}

.swiper__left{
  left: 0;
  justify-content: center;
  background: linear-gradient(to left, rgba(255,255,255, 0) 0%, var(--white) 30%);
}

.swiper__left,
.swiper__right {
  display: flex;
	z-index: 6;
	width: 40px;
	height: 45px;
	padding-left: .1em;
  margin-top: 15px;

	cursor: pointer;
	-webkit-transition: background-color .2s, opacity .2s;
	-o-transition: background-color .2s, opacity .2s;
	transition: background-color .2s, opacity .2s;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
	text-align: center;

  align-items: center;
  box-sizing: border-box;
  overflow: hidden;
  transition: color ease .2s;
}

.swiper__left:before,
.swiper__right:before {
  display: block;
  transition: opacity ease .2s;
  flex: 0 0 auto;
  fill: blue;
  font-icon: url('./icons/arrow.svg');
  width: 40px;
  height: 100%;
  z-index: 2;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  overflow: hidden;
  transition: color ease .2s;
}

.swiper__left:hover,
.swiper__right:hover {
  color: #ED4D74;
}

.swiper__left.is-button-disabled,
.swiper__right.is-button-disabled {
  color: grey;
	cursor: auto;
}

.swiper__left {
	-webkit-transform: scaleX(-1) translateY(-50%);
	-ms-transform: scaleX(-1) translateY(-50%);
	transform: scaleX(-1) translateY(-50%)
}

.swiper__content {
	width: 100%;
	position: relative;
	overflow-x: scroll;
	-webkit-overflow-scrolling: touch
}
