.swiper-container {
  position: -webkit-sticky;
  position: sticky;
  z-index: 2;
  top: 113px;
  margin-top: 11px;
  margin-bottom: 32px;
  -webkit-box-shadow: #fff 0 8px 15px 9px;
  box-shadow: 0 8px 15px 9px #fff;
  background-color: #fff;
}

.swiper-container:after,
.swiper-container:before {
  content: "";
  display: table;
}
